@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap');

.courasel{
    width: 100%;
    /* background-color: #3A0990; */
    
    background: rgb(144,52,174);
    background: radial-gradient(circle, rgba(144,52,174,1) 0%, rgba(58,9,144,1) 51%);
    height:35rem;
}

.info-container{
    width: 100%;
    height: 400px;
    /* background-color: brown; */
    padding-top: 140px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.info-container div{
    width: 100%;
}

.small_text{
    color: white;
}

.info-wrapper{

    display: flex;
    color: white;
    font-size: 70px;
    font-weight: 900;
    flex-direction: column;

}

.CarrImage{
    width:150%;
    margin-left: -100px;
}

.carr-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


@media screen and (max-width:960px){

    .info-container{
        width: 100%;
        height: 400px;
        /* background-color: brown; */
        padding-top: 140px;
      
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .info-wrapper{

        display: flex;
        color: white;
        font-size: 40px;
        font-weight: 700;
        flex-direction: column;
       
    
    }


    .CarrImage{
        width:150%;
        margin-left: -100px;
        visibility: hidden;
    }
    

}



