.footer-container{
    width: 100%;
    height: 350px;
    background-color: rgb(29, 29, 29);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Left-Content{
    width: 300px;
    /* background-color: tomato; */
    height: 300px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.Left-Content h4{
    text-align: left;
    padding-left: 30px;
}


.footerList-ul{
    list-style: none;
    padding: 0;
    margin: 10px;
    text-align: left;
    padding-left: 20px;
}


.footerList-ul a{
    text-align: left;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;
}


.footerList-ul a:hover{
    text-align: left;
    cursor: pointer;
    color: rgb(255, 166, 0);
    transition: all 0.5s ease;
}